<br>
<br>
<br>
<br>
<br>
<div class="container" >
  <h1>Artistas</h1>
  <div class="row multi-columns-row">
    <% @artists.each do |artist| %>
      <div class="col-sm-6 col-md-3 col-lg-3">
        <div class="card"  style="">
          <ul class="text-center p-1">
            <li class="list-unstyled card-img-top "><%= link_to (cl_image_tag artist.photo.key, height: 100, width: 100, crop: :scale), artist_path(artist)  %> </li>
            <li class="list-unstyled "><%= link_to artist.name, artist_path(artist) %> </li>

            <%= simple_form_for [ artist, @favorite ], remote: true do |f| %>
              <%= f.hidden_field :artist_id, :value => artist.id %>
              <%= button_tag type: 'submit', class: "like-button remove-submit-btn-style", id: "like-button" do %>
                <% if current_user.artists.include? artist %>
                  <i class="fas fa-heart" id="heart-red"></i>
                <% else %>
                  <i class="fas fa-heart" id="heart-white"></i>
                <% end %>
              <% end %>
            <% end %>

          </ul>
        </div>
      </div>
    <% end %>
  </div>
  <div class="footer">
    <div class="footer-links">
      <a href="https://www.instagram.com/awante.ok/?hl=es-la"><i class="fab fa-instagram"></i></a>
    </div>
  </div>
</div>
