<div class="container footer-fix split">
  <h1 class="text-center">Artistas</h1>
  <div class="row">
    <% @artists.each do |artist| %>
        <div class="col-sm-6 col-md-3 col-lg-3">
          <div class="card">
            <%= cl_image_tag artist.photo.key %>
            <div class="text-over-card px-2"> <strong><%= link_to artist.name, artist_path(artist), class:"text-over-card" %></strong></div>

            <% if current_user %>
              <% if current_user.artists.include? artist %>
                <%= link_to favorite_path(current_user.favorites.where(artist: artist).first), method: "delete", class: "dislike-button remove-delete-btn-style", id: "dislike-button" do %>
                  <i class="fas fa-heart" id="heart-red"></i>
                <% end %>
              <% else %>
                <%= simple_form_for [ artist, @favorite ], remote: true do |f| %>
                  <%= f.hidden_field :artist_id, :value => artist.id %>
                  <%= button_tag type: 'submit', class: "like-button remove-submit-btn-style", id: "like-button" do %>
                    <i class="fas fa-heart" id="heart-white"></i>
                  <% end %>
                <% end %>
              <% end %>
            <% end %>
          </div>
        </div>
    <% end %>
  </div>
</div>
<%= render 'shared/footer' %>
