<div class="container split">
  <h1 class="text-center"><%= @artist.name %></h1>
  <div class="card-artist-show row">
    <div class="artist-img col-12 col-lg-8">
      <%= cl_image_tag @artist.photo.key %>
    </div>
    <div class="concert-links col-12 col-lg-4">
      <div class="m-3" data-aos="flip-left">
        <%= link_to "Vuelve a artistas", artists_path(@artists), class:"btn" %>
      </div>
      <div class="m-3">
        <% @concerts.each do |concert| %>
              <% if concert.artist_id == @artist.id %>
                <div class="card-artist font-color" data-aos="zoom-in" >
                  <h4 class="text-center"><%= link_to concert.title, concert_path(concert) %></h4>
                  <p class="text-center p-0"> <%= concert.date %></p>
                </div>
              <% end %>
            <% end %>
      </div>
    </div>
  </div>
</div>
<%= render 'shared/footer' %>
