<div class="container footer-fix split">
  <h1 class="text-center"><%= @artist.name %></h1>
  <div class="card-artist-show row">
    <div class="artist-img col-12 col-lg-8">
      <%= cl_image_tag @artist.photo.key %>
    </div>
    <div class="concert-links col-12 col-lg-4">
      <div class="m-3" data-aos="flip-left">
        <%= link_to "Vuelve a artistas", artists_path(@artists), class:"btn" %>
      </div>
      <div class="m-3 concert-color" data-aos="flip-left">
        <h4 class="text-center">Proximos conciertos</h4>
      </div>
      <div class="m-3">
        <% @concerts.each do |concert| %>
              <% if concert.artist_id == @artist.id %>
                <div class="card-artist font-color" data-aos="zoom-in" >
                  <h4 class="text-center"><strong><%= link_to concert.title, concert_path(concert), class:"index-link stretched-link" %></strong></h4>
                  <div class='card-date mb-1'><small><i class="fas fa-calendar-alt"></i> <%= concert.date.split(' ')[0].split('/')[2] %>/<%= concert.date.split(' ')[0].split('/')[1] %>/<%= concert.date.split(' ')[0].split('/')[0] %>
                    <i class="fas fa-clock"></i> <%= concert.date.split(' ')[1] %></small>
                  </div>
                </div>
              <% end %>
            <% end %>
      </div>
    </div>
  </div>
</div>
<%= render 'shared/footer' %>
