<div class="container split">
  <%= link_to "Vuelve a artistas", artists_path(@artists), class:"btn" %>
  <div class="card-artist">
    <div class="flex-container text-center">
        <h1 class="text-center">
          <%= @artist.name %>
        </h1>
        <div>
          <h4><%= @artist.details %></h4>
            <% @concerts.each do |concert| %>
              <% if concert.artist_id == @artist.id %>
                  <h4><%= link_to concert.title, concert_path(concert) %></h4>
                  <p> <%= concert.date %></p>
              <% end %>
            <% end %>
        </div>
        <%= cl_image_tag @artist.photo.key, height: 800, width: 1000%>
    </div>
  </div>
</div>
<%= render 'shared/footer' %>
