<br>
<br>
<br>
<br>
<br>
<div class="container">
  <p><%#= cl_image_tag @user.photo.key, height: 200, width: 200, crop: :scale, :border => { :width => 4, :color => 'black' } %></p>
  <h2>name: <%= @user.name %></h2>
  <p>email: <%= @user.email %></p>
  <h3>Favorite Artists:
    <ul>
      <% @user.artists.uniq.each do |artist| %>
        <li> <%= artist.name %> </li>
      <% end %>
    </ul>
  </h3>
  <br>
    <div class="notification-actions">
      <%= link_to 'Edit', edit_user_registration_path(current_user), class:"btn btn-primary" %>
      <%= link_to "Delete account",
            user_path(@user),
            method: :delete,
            data: { confirm: "Are you sure?" }, class:"btn btn-primary" %>
    </div>
  <br>
<%= link_to 'Home', '/', class:"btn btn-primary" %>
</div>
