<div class="container footer-fix split">
  <div class="card-complete-user mt-5">
    <div class="card-user justify-content-start">
      <div class="card-user-info">
        <div class="card-info font-user">
          <h2>Nombre de usuario: <%= @user.name %></h2>
        </div>
        <div class="card-info font-user">
          <p>Email: <%= @user.email %></p>
        </div>
      </div>

      <div class="rounded-circle">
        <% if current_user.spotify_photo? %>
          <%= image_tag current_user.spotify_photo, class: "avatar-photo", height: 200, width: 200, crop: :scale, :border => { :width => 4, :color => 'black' } %>
        <% elsif current_user.photo.attached? %>
          <%= cl_image_tag current_user.photo.key, class: "avatar-photo",  height: 200, width: 200, crop: :scale, :border => { :width => 4, :color => 'black' } %>
        <% else %>
          <%= image_tag "https://i.imgur.com/UNn9Huk.jpg", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
        <% end %>
      </div>

    </div>
    <br>
      <div class="notification-actions">
        <%= link_to 'Editar', edit_user_registration_path(current_user), class:"btn" %>
        <%= link_to "Eliminar cuenta",
              user_path(@user),
              method: :delete,
              data: { confirm: "¿Está seguro?" }, class:"btn" %>
      </div>
  </div>
  <h3 class="text-center my-5">Artistas favoritos:</h3>
  <div class="row">
    <% @user.artists.uniq.each do |artist| %>
      <div class="col-12 col-md-3 col-lg-3 mb-2">
          <div class="card-user-favorite">
            <%= cl_image_tag artist.photo.key %>
            <%= link_to artist.name, artist_path(artist), class:"index-user"%>
          </div>
      </div>
    <% end %>
  </div>
</div>
<%= render 'shared/footer' %>
