<div id="vanta" style="height: 100vh;">
  <div class="container text-center p-3">
    <h1 class="font-weight-bold display-1 split-margin">awante</h1>
      <div class="search-form-control form-group">
        <%= form_tag artists_path, method: :get do %>
          <%= text_field_tag :query,
            params[:query],
              class: "form-control",
              placeholder: "Buscá artistas, encontrá conciertos"
          %>
          <button name="button" type="submit" class="btn btn-flat">
            <i class="fas fa-search"></i>
          </button>
        <% end %>
        <%# <input class="form-control string required" type="text" name="search[query]" id="search_query" />
        <div>
          <button name="button" type="submit" class="btn btn-flat">
            <i class="fas fa-search"></i> Search
          </button>
        </div> %>
      </div>
    <br>
    <%= button_to "#", class: "btn" do %>
      <i class="fab fa-spotify"></i><%= link_to ' Ingresar con Spotify', user_spotify_omniauth_authorize_path, method: :post, class: "text-decoration-none link-dark m-1" %>
    <% end %>
    <br>
    <%= link_to "Ir a conciertos!", concerts_path(@concerts), class: "btn" %>
  </div>
</div>

<script>
  VANTA.WAVES({
    el: "#vanta",
    mouseControls: true,
    touchControls: true,
    gyroControls: false,
    minHeight: 200.00,
    minWidth: 200.00,
    scale: 1.00,
    scaleMobile: 1.00,
    color: 0x11d37,
    shininess: 20.00,
    waveHeight: 19.50,
    zoom: 0.65
  })
</script>
