<br>
<br>
<br>
<br>
<br>
<div class="container">
  <h1 class = "text-center"> <%= @venue.name %></h1>
  <p class = "text-center"><%= @venue.address %></p>
  <h2 class = "text-center"> Proximos eventos aquí</h2>
  <div class = "card-venue m-auto" style="width: 75%; height: 450px;"
    data-controller="mapvenue"
    data-mapvenue-marker-value="<%= @marker.to_json %>"
    data-mapvenue-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
  <div class="card-venue-concerts m-auto" style="width: 75%;">
    <% @concerts.each do |concert| %>
      <% if concert.venue_id == @venue.id %>
        <div class="my-2 mx-1" style="background-image: url(<%= concert.photo_url %>)">
          <ul class="text-center p-1">
            <li class="list-unstyled"><%= link_to concert.title, concert_path(concert) %> </li>
            <li class="list-unstyled"><%= link_to (cl_image_tag concert.photo.key, height: 100, width: 100, crop: :scale), concert_path(concert)  %> </li>
            <li class="list-unstyled"><%= concert.date %> </li>
          </ul>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
