<div class="container footer-fix split">
  <h1 class="text-center">Conciertos</h1>
  <div class="text-center container-concerts">
    <div class="grid">
      <% @concerts.each do |concert| %>
        <div class="card-concerts">
            <div class="card-img">
              <img src="<%= concert.photo_url %>" alt="<%= concert.title %>"
              style="object-fit: cover; width: 100%; height: 100%; border-top-left-radius: 10px; border-bottom-left-radius: 10px; ">
            </div>
            <div class="card-content">
                <h5><%= concert.title %></h5>
                <div class='mb-1'><%= concert.content.split(',')[0] %></div>
                <div class='mb-1'><small><i class="fas fa-calendar-alt"></i> <%= concert.date.split(' ')[0].split('/')[2] %>/<%= concert.date.split(' ')[0].split('/')[1] %>/<%= concert.date.split(' ')[0].split('/')[0] %>
                  <i class="fas fa-clock"></i> <%= concert.date.split(' ')[1] %></small>
                </div>
                <a href="<%= concert_path(concert) %>" class="stretched-link"></a>
            </div>
        </div>
      <% end %>
    </div>
    <div id="map" style="width: 100%; height: 100vh;"
      data-controller="mapbox"
      data-mapbox-markers-value="<%= @markers.to_json %>"
      data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>
</div>
<%= render 'shared/footer' %>
