<br>
<br>
<br>
<br>
<br>
<div class="container">
  <h1 class="text-center">Concerts</h1>
  <div class="concerts-container" >
    <div class= "m-2">
    <% @concerts.each do |concert| %>
      <div class="card mb-2">
        <div class="row g-0 mx-6 px-6" >
          <div class="card col-7 mx-6 px-6" style="background-image: url(<%= concert.photo_url %>)">
            <%#= link_to concert_path(concert) do %>
              <%#= cl_image_tag concert.photo&.key, height: 150, width: 200, crop: :scale %>
            <%# end %>
          </div>
          <div class="col-5 mx-6 px-6" >
            <div class="card-body text-end">
              <h5 class="card-title"><%= link_to concert.title, concert_path(concert) %></h5>
              <p class="card-text"><%= concert.content.split(',')[0] %></p>
              <p class="card-text"><small class="text-muted"><%= concert.date %></small></p>
              <a href="<%= concert.url %>" class="btn btn-primary" target="_blank"> Buy </a>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <div class="mt-2" id="map" style="width: 100%; height: 100vh;"
    data-controller="mapbox"
    data-mapbox-markers-value="<%= @markers.to_json %>"
    data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
  <div class="footer">
      <div class="footer-links">
        <a href="https://www.instagram.com/awante.ok/?hl=es-la"><i class="fab fa-instagram"></i></a>
      </div>
    </div>
</div>
