<br>
<br>
<br>
<br>
<br>
<div class="container">
  <h1 class="text-center">Conciertos</h1>
  <div class="text-center container-concerts">
    <div class="grid">
      <% @concerts.each do |concert| %>
        <div class="card-concerts">
            <div class="card-img">
            <img src="<%= concert.photo_url %>" alt="<%= concert.title %>" style="object-fit: cover; width: 100%; height: 100%; border-top-left-radius: 10px; border-bottom-left-radius: 10px; ">
            </div>
            <div class="card-content">
                <h5><%= concert.title %></h5>
                <p><%= concert.content.split(',')[0] %></p>
                <p><small class="text-muted"><%= concert.date %></small></p>
                <a href="<%= concert_path(concert) %>" class="stretched-link"></a>
            </div>
        </div>
      <% end %>
    </div>
    <div id="map" style="width: 100%; height: 100vh;"
      data-controller="mapbox"
      data-mapbox-markers-value="<%= @markers.to_json %>"
      data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>
  <div class="footer">
    <div class="footer-links">
      <a href="https://www.instagram.com/awante.ok/?hl=es-la"><i class="fab fa-instagram"></i></a>
    </div>
  </div>
</div>
