<% content_for :meta_title, "#{@concert.title} is on #{DEFAULT_META["meta_product_name"]}" %>
<% content_for :meta_description, @concert.content %>
<% content_for :meta_description, @concert.date %>
<% content_for :meta_image, cl_image_path(@concert.photo.key) %>
<br>
<br>
<br>
<br>
<br>
<div class="container" >
  <%= link_to "Vuelve a conciertos", concerts_path(@concerts), class:"btn btn-primary" %>
  <div class="container-row" style="background-color:#ddd">
      <div class="text-center">
        <h1>
          <%= @concert.title %>
        </h1>
      </div>
      <div style="background-color:#ddd">
        <h4><%= link_to @concert.content, venues_path %></h4>
        <h4><%= @concert.date %></h4>
      </div>
      <div>
        <%= cl_image_tag @concert.photo.key %>
        <a href="<%= @concert.url %>" class="btn btn-primary" target="_blank" > Tickets </a>
        <br>
        <p>Compartir</p>
          <a href="https://www.facebook.com/sharer/sharer.php?u=https://www.awante.live/concerts/<%= @concert.id %>" style="text-decoration: none"
            class="" onclick="window.open(this.href,'newwindow','width=600,height=400'); return false;">
            <i class="fab fa-facebook"></i>
          </a>
          <a href="http://twitter.com/share?text=https://www.awante.live/concerts/<%= @concert.id %>" style="text-decoration: none"
            class="" onclick="window.open(this.href,'newwindow','width=600,height=400'); return false;">
            <i class="fab fa-twitter"></i>
        </a>
      </div>
    </div>
    <div class="footer">
      <div class="footer-links">
        <a href="https://www.instagram.com/awante.ok/?hl=es-la"><i class="fab fa-instagram"></i></a>
      </div>
    </div>
</div>
